# IDE things
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/shelf
.idea/**/contentModel.xml
*.test.yaml
.env
__pycache__
**/__pycache__/**
docker-compose.override.yml
node_modules
.next
build